/* The container in the static markup */

#root .pkb-source-link {
    display: flex;
}

#root .pkb-source-link h1 {
    flex-grow: 1;
}

#root .pkb-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax(160px, 1fr));
}

#root .pkb-search-container {
    margin: 10px;
}

#root button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

#root .pkb-eff-container {
    padding-left: 10px;
}

i.pkb-eff-indicator {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}

i.up.pkb-eff-indicator {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border-color: green;
}

i.down.pkb-eff-indicator {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-color: red;
}

#root button:hover {
    color: #000000;
    background-color: #776767;
}

ul.pkb-eff-listing {
    list-style: none;
    padding: 3px;
}

ul.pkb-eff-listing li {
    list-style-type: none;
    margin-top: 1em;
}

#root .pkb-type-label {
    padding: 5px;
    margin-right: 3px;
    border-radius: 2px;
}

#root .pkb-toggle-container{
    display: flex;
    justify-content: center;
}

#root .pkb-type-selected {
    border-color: red;
    border-width: 4px;
    border-radius: 3px;
    margin: 15px;
}

#root .pkb-type-fire {
    background-color: #f08030;
}
#root .pkb-type-flying {
    background-color: #a890f0;
}
#root .pkb-type-rock {
    background-color: #b8a038;
}
#root .pkb-type-normal {
    background-color: #a8a878;
}
#root .pkb-type-poison {
    background-color: #a040a0;
}
#root .pkb-type-bug {
    background-color: #a8b820;
}
#root .pkb-type-ghost {
    background-color: #705898;
}
#root .pkb-type-steel {
    background-color: #b8b8d0;
}
#root .pkb-type-water {
    background-color: #6890f0;
}
#root .pkb-type-electric {
    background-color: #f8d030;
}
#root .pkb-type-psychic {
    background-color: #f85888;
}
#root .pkb-type-ice {
    background-color: #98d8d8;
}
#root .pkb-type-dragon {
    background-color: #7038f8;
}
#root .pkb-type-dark {
    background-color: #705848;
}
#root .pkb-type-fairy {
    background-color: #ee99ac;
}
#root .pkb-type-fighting {
    background-color: #c03028;
}
#root .pkb-type-ground {
    background-color: #e0c068;
}
#root .pkb-type-grass {
    background-color: #78c850;
}

@media only screen and (max-width: 599px) {
    .pkb-section-title {
        font-size: 1.4em;
        line-height: 1em;
        font-weight: bold;
    }

    .pkb-section-subtitle {
        font-size: 0.8em;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 600px) {
    .pkb-section-title {
        font-size: 2em;
        line-height: 1em;
        font-weight: bold;
    }

    .pkb-section-subtitle {
        font-size: 0.8em;
        line-height: 1.2em;
    }
}
